<div class="main-collection-banner" 
 {% if collection.image != blank %} 
      style="background-image: url('{{ collection.image | img_url: 'master' }}');" >
{% else %}
      style="background-image: url('{{ section.settings.image | img_url: 'master' }}');" >
{% endif %}

  <h1>{{ collection.title }}</h1>
    <span>Home > {{ collection.title }}</span>
</div>


{% schema %}
{
  "name": "Collection Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label":"Background Image"
    }
  ]
}
{% endschema %}